{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicons, manifest… -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png"/>
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/favicon.svg"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-192x192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="/images/favicon.ico"/>
<!-- on passe le theme-color à noir -->
<meta name="theme-color" content="#000000"/>


<style>

    /* Make the dropdown list black with white text */
    nav.greedy-nav .visible-links,
    nav.greedy-nav .visible-links li,
    nav.greedy-nav .hidden-links,
    nav.greedy-nav .hidden-links li {
    background-color: #121212 !important;
    }

    /* Force the link color to white */
    nav.greedy-nav .visible-links a,
    nav.greedy-nav .hidden-links a {
    color: #fff !important;
    }

    /* Optional: remove that grey hover */
    nav.greedy-nav .visible-links a:hover,
    nav.greedy-nav .hidden-links a:hover {
    background-color: #222 !important;
    }


</style>
